{% extends "core/base.html" %}

{% block title %}Clients | Pop CRM{% endblock %}

{% block content %}

<section class="text-gray-700 bg-indigo-100 body-font overflow-hidden">
    <div class="container px-5 py-9 mx-auto flex flex-wrap">
        <div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200">
            <div>
                <h1 class="text-4xl text-gray-800">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-green-500 w-9 h-9 mb-1 inline-block" viewBox="0 0 24 24">
                        <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                    </svg>
                    Clients
                </h1>
                <a class="text-gray-500 hover:text-blue-500 text-xs" href="{% url 'clients:list_all' %}">
                    Voir clients du système
                </a>
                <hr>

                

                <a href="{% url 'clients:add' %}" class="inline-block text-white py-2 px-6 bg-indigo-700 rounded-xl mt-6">Ajout Client</a>
                

            </div>
        </div>

        <div class="flex flex-col w-full">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-indigo-200">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Raison sociale
                            </th>

                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Prénom
                            </th>

                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Nom
                            </th>

                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Email
                            </th>

                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Numéro Téléphone
                            </th>

                            <th scope="col" class="relative px-6 py-3">
                            <span class="sr-only">Edit</span>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for client in object_list %}
                            <tr class="bg-white">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    <a class="text-blue-500 hover:text-blue-800" href="{% url 'clients:detail' client.pk %}">{{ client.firm }}</a>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ client.first_name }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ client.name }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ client.email }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ client.phone_number }}
                                </td>
                                
                                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                    <a href="{% url 'clients:edit' client.pk %}" class="text-gray-500 hover:text-indigo-700">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>

                        {% empty %}

                        <p class="bg-red-200"> Actuellement, pas de client pour ce compte !</p>

                        {% endfor %}
                    </tbody>
                </table>
                </div>

                <div class="boutons flex justify-between relative ">
        
                    <div class="boutons-export mt-6 absolute bottom-90% right-0 ">
                    
                        <div class="export-csv text-sm">
                            <a href="{% url 'clients:export_csv' %}" class="text-sm" >Export CSV</a>
                        </div>
                        
                        <div class="export-xls text-sm">
                            <a href="#" class="text-sm" >Export XLS</a>
                        </div>
        
                    </div>
        
                </div>

            </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}